@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@200;500&display=swap');
.showcase{
    width: 76%;
    margin: 0 auto;
    max-width: 1400px;
    .showcase_wrap{
        display: flex;
        height: 87vh;
        position: relative;
        align-items: center;
        .ball1 img {
            position: absolute;
            top: -70px;
            left: -200px;
        }
        .text{
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
            row-gap: 10px;
            h1{
                font-weight: 700;
                font-size: 55px;
                line-height: 68px;
                width: 600px;
                font-family: 'Inter', sans-serif;
            }
            p{
                font-weight: 500;
                font-size: 25px;
                line-height: 33px;
                color: #202020;
                width: 461px;
                font-family: 'Inter', sans-serif;
            }
            button{
                width: 297px;
                height: 80px;
                border-radius: 100px;
                background-color: #00CBFF;
                color: #FFFFFF;
                border: none;
                font-size: 24px;
                font-weight: 500px;
                line-height: 30px;
                font-family: 'Inter', sans-serif;
            }
        }
        .girl img{
            width: 600px;
            height: 563px;
            transform: translate(-70px, -70px);
        }
        .ball2 img{
            position: absolute;
            top: -70px;
            right: -180px;
        }
    }
}



@media(max-width:1420px){
    .showcase{
        .showcase_wrap{
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            .girl img{
            width: 600px;
            height: 563px;
            transform: translate(0px, 0px);
            margin-top: 100px;
        }
        }
    }
}


@media(max-width:1297px){
    .showcase{
        .showcase_wrap{
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            .text{
              margin:  0 auto;
            }
            .girl img{
            width: 600px;
            height: 563px;
            transform: translate(0px, 0px);
            margin-top: 100px;
        }
        .ball1{
            display: none;
        }
        .ball2{
            display: none;
        }
        }
    }
}
@media(max-width:793px){
    .showcase{
        .showcase_wrap{
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            .text{
              margin:  0 auto;
            }
            .girl img{
            width: 300px;
            height: 300px;
            transform: translate(0px, -100px);
            margin-top: 100px;
        }
           .text{
                h1{
                    font-size: 30px;
                    text-align: center;
                    width: auto;
                }
                p{
                    font-size: 20px;
                    text-align: center;
                    width: auto;
                }
                button{
                    width: 250px;
                    height: 80px;
                    border-radius: 100px;
                    background-color: #00CBFF;
                    color: #FFFFFF;
                    border: none;
                    font-size: 15px;
                    font-weight: 500px;
                    line-height: 15px;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media(max-width:472px){
    .showcase{
        .showcase_wrap{
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 0px;
            .text{
              margin:  0 auto;
            }
            .girl img{
            width: 300px;
            height: 300px;
            transform: translate(0px, 0px);
            margin-top: 100px;
        }
           .text{
                h1{
                    font-size: 12px;
                    text-align: center;
                    width: auto;
                }
                p{
                    font-size: 10px;
                    text-align: center;
                    width: auto;
                }
                button{
                    width: 150px;
                    height: 70px;
                    border-radius: 100px;
                    background-color: #00CBFF;
                    color: #FFFFFF;
                    border: none;
                    font-size: 15px;
                    font-weight: 500px;
                    line-height: 15px;
                    margin: 0 auto;
                }
            }
        }
    }
}